/Progra3/n1inventario/build/
/Progra3/n1inventario/dist/
/Progra3/n1inventario/nbproject/private/
/TercerSemestre/Progra3/Biblioteca/build/
/TercerSemestre/Progra3/Biblioteca/dist/
/TercerSemestre/Progra3/Biblioteca/nbproject/private/
/TercerSemestre/Progra3/NotasAlumno/nbproject/private/
